<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name></display-name>
  <servlet>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>com.oop.servlet.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddSalesServlet</servlet-name>
    <servlet-class>com.oop.servlet.AddSalesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <servlet-class>com.oop.servlet.UpdateEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateSalesServlet</servlet-name>
    <servlet-class>com.oop.servlet.UpdateSalesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <servlet-class>com.oop.servlet.DeleteEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSalesServlet</servlet-name>
    <servlet-class>com.oop.servlet.DeleteSalesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetEmployeeServlet</servlet-name>
    <servlet-class>com.oop.servlet.GetEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetSalesServlet</servlet-name>
    <servlet-class>com.oop.servlet.GetSalesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListEmployeeServlet</servlet-name>
    <servlet-class>com.oop.servlet.ListEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListSalesServlet</servlet-name>
    <servlet-class>com.oop.servlet.ListSalesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/AddEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddSalesServlet</servlet-name>
    <url-pattern>/AddSalesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <url-pattern>/UpdateEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSalesServlet</servlet-name>
    <url-pattern>/UpdateSalesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <url-pattern>/DeleteEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSalesServlet</servlet-name>
    <url-pattern>/DeleteSalesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetEmployeeServlet</servlet-name>
    <url-pattern>/GetEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSalesServlet</servlet-name>
    <url-pattern>/GetSalesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListEmployeeServlet</servlet-name>
    <url-pattern>/ListEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListSalesServlet</servlet-name>
    <url-pattern>/ListSalesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.oop.servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>com.oop.servlet.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>com.oop.servlet.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetProductServlet</servlet-name>
    <servlet-class>com.oop.servlet.GetProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListProductServlet</servlet-name>
    <servlet-class>com.oop.servlet.ListProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/UpdateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetProductServlet</servlet-name>
    <url-pattern>/GetProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListProductServlet</servlet-name>
    <url-pattern>/ListProductServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>AddSupplierServlet</servlet-name>
    <servlet-class>com.oop.servlet.AddSupplierServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateSupplierServlet</servlet-name>
    <servlet-class>com.oop.servlet.UpdateSupplierServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSupplierServlet</servlet-name>
    <servlet-class>com.oop.servlet.DeleteSupplierServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetSupplierServlet</servlet-name>
    <servlet-class>com.oop.servlet.GetSupplierServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListSupplierServlet</servlet-name>
    <servlet-class>com.oop.servlet.ListSupplierServlet</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>AddSupplierServlet</servlet-name>
    <url-pattern>/AddSupplierServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSupplierServlet</servlet-name>
    <url-pattern>/UpdateSupplierServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSupplierServlet</servlet-name>
    <url-pattern>/DeleteSupplierServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSupplierServlet</servlet-name>
    <url-pattern>/GetSupplierServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>ListSupplierServlet</servlet-name>
    <url-pattern>/ListSupplierServlet</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
  	<welcome-file>home.jsp</welcome-file>
    
  </welcome-file-list>
</web-app>